<!DOCTYPE html>
<html lang="en">

<head>
  <title>💜 Upload Confirmed | SimerCDN</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="https://cdn.simer.ml/content/Simer/joy_pfp.png">
</head>
<div id="contact">
  <h3>Success!
    <hr>
    <%= filename %> was uploaded successfully
  </h3>
  <p><button class="w3-button w3-light-grey w3-padding-large submit" onclick="window.location.href='./'">Back to Home</button>
<!--     <script src="script.js"></script> -->
  </div>

</html>