<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome! | SimerCDN</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=0.7, viewport-fit=cover">
  <link rel="icon" href="https://cdn.simer.ml/content/Simer/joy_pfp.png">
</head>

<body>
  <!-- <script type='text/javascript' src='//pl17409914.profitablecpmgate.com/1a/0a/c0/1a0ac0d2773408582609aa368c11e66b.js'></script> -->
  <div class="logout">
    <form action="/logout?_method=DELETE" method="POST">
      <p><button class="w3-button w3-light-grey w3-padding-small submit" type="submit">Log Out</button></p>
    </form>
  </div>
  <div id="contact">
    <h3 onclick="location.href='/bucket';">
      <%= name %>'s Bucket
        <hr>
    </h3>
    <p>Please do not share us any private or confidential information.</p>
    <p>For removals, contact Simer#0320 on Discord</p>
    <div class="form">
      <form method="post" action="/" enctype="multipart/form-data" class="contact-form">
        <p><label for="folder">Upload Folder:</label><textarea class="w3-input w3-padding-16" type="text" id='folder'
            placeholder="            Using Username by Default 🔒" cols="47" rows="1" required disabled
            name="folder"></textarea></p>
        <!--<p><input class="w3-input w3-padding-16" type="text" id='username' placeholder="Username" 
          name="Username"></p> -->
        <!--<p><input class="w3-input w3-padding-16" type="text" id='subpath'
          placeholder="Subpath (Example - /folder/subfolder/" required name="subpath"> 
      </p>-->
        <p><label for="file">Select file:</label><input class="w3-input w3-padding-16 file" type="file" id="file"
            required name="file"></input></p>
        <p><input class="w3-button w3-light-grey w3-padding-large submit" size="60" type="submit"
            value="Upload Content!"></input>
        </p>
      </form>
      <!--     <script src="script.js"></script> -->
    </div>
</body>

</html>